body {
    background-color: #f0e6f7; /* Muted Pastel Lavender */
}
.k{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 14px;

}
.k1{
    background-color: rgb(20, 228, 48);
    border-radius: 20px;
    height: 20px;
    width: 20px;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
.k2{
    background-color: rgb(20, 228, 48);
    border-radius: 20px;
    height: 20px;
    width: 20px;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;

    
}
.k3{
    background-color: rgb(20, 228, 48);
    border-radius: 20px;
    height: 20px;
    width: 20px;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 1.7s;
}
.s{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 8.5%;
    gap: 10px;
}
.s1{
    background-color: red;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    animation-name: moving;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 1s;

}
.s2{
   
    background-color: red;
    border-radius: 20px;
    width: 20px;
    height: 20px; 
    animation-name: moving;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
.s3{
    
    background-color: red;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    animation-name: moving;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
.b{           
  margin-left: 40%;
}
.b1:hover~img{
    transform: translate(100px,100px);
}
.b2:hover~img{
    transform: rotate(90deg);
}
.b3:hover~img{
    transform: scale(0.5);
}
.b4:hover~img{
    transform: skew(10deg,23deg);
}
@keyframes moving {
    0%{
        transform: translate(0px,-100px);
    }
    50%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(0px,-100px);
    }
}

@keyframes change {
    0%{
        transform:  scale(0.5);
        background-color: rgb(55, 241, 95);
    }
    50%{
        transform: scale(1.5);
        background-color: rgb(55, 241, 95);;
    }
    100%{
        transform: scale(0.5);
        background-color: rgb(55, 241, 95);;
    }
}
